# Taps
tap "homebrew/bundle"
tap "homebrew/services"
tap "homebrew/cask-fonts"

# CLI apps
brew "direnv"
brew "gh"
brew "git-extras"
brew "git"
brew "mas"
brew "node"
brew "python3"
brew "nvm"
brew "zsh-syntax-highlighting"
brew "zsh-autosuggestions"
brew "thefuck"
brew "chezmoi"

# Apps
cask "google-chrome"
cask "firefox"
cask "iterm2"
cask "visual-studio-code"
cask "docker"
cask "mongodb-compass"
cask "dbeaver-community"
cask "insomnia"
cask "microsoft-teams"
cask "microsoft-office"
cask "vlc"
cask "maccy"
cask "stretchly"
cask "logi-options-plus"
cask "parsec"
cask "chrome-remote-desktop-host"

# Fonts
cask "font-hack-nerd-font"
cask "font-inconsolata-for-powerline"
cask "font-menlo-for-powerline"

# Mac store apps
mas "Xcode", id: 497799835