# Taps
tap "homebrew/bundle"
tap "homebrew/services"
tap "homebrew/cask-fonts"

# CLI apps
brew "starship"
brew "direnv"
brew "gh"
brew "git-extras"
brew "git"
brew "mas"
brew "node"
brew "nvm"
brew "pyenv"
brew "pipx"
brew "zsh-syntax-highlighting"
brew "zsh-autosuggestions"
brew "thefuck"
brew "chezmoi"

# Apps
cask "google-chrome"
cask "firefox"
cask "iterm2"
cask "visual-studio-code"
cask "docker"
cask "mongodb-compass"
cask "dbeaver-community"
cask "insomnia"
cask "vlc"
# clipboard manager
cask "maccy"
# windows-like alt-tab on mac
cask "alt-tab" 
# stretch reminders, no_quarantine required for it to work
cask "stretchly", args: { no_quarantine: true }
# if using logitech bluetooth mouse, this fixes lag issues
cask "logi-options-plus" 
# best remote desktop software
cask "parsec"
# backup remote desktop
cask "chrome-remote-desktop-host"
# cask "microsoft-teams"
# cask "microsoft-office"

# Fonts
cask "font-fira-code"
cask "font-hack-nerd-font"
cask "font-inconsolata-for-powerline"
cask "font-menlo-for-powerline"

# https://github.com/bramstein/homebrew-webfonttools
tap "bramstein/webfonttools"
brew "woff2"

# Mac store apps
mas "Xcode", id: 497799835